<form action="/memos" method="POST">
  <div>
    <input type="text" name="title" required>
  </div>
  <div>
    <textarea name="content" cols="30" rows="10"></textarea>
  </div>
  <button>保存</button>
</form>
